extends layout

block content
  h1= title
  p Welcome to #{title}, a simple inventory project 

  h1 Dynamic content 

  if error 
    p Error getting dynamic content.
  else 
    p The item count is : !{data.item_count}
    p The category count is: !{data.category_count}
