doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    ul 
      li  
        a(href="/catalog") Home
      li  
        a(href="/catalog/items") All items
      li  
        a(href="/catalog/categories") All categories
      li  
        a(href="/catalog/item/create") create new item 
      li  
        a(href="/catalog/category/create") create new category
  
    block content
